.btn_styling{
 
    border-style:none;
    width:350px;
    color:black;
    font-size:26px;
    background-color: blanchedalmond;
    margin:40px;
    padding:8px;
    height:50px;
    font-family: "Adobe Arabic";
}

.btn_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:260px;
}