.header_cont{
    background-color:cyan;
    display: flex;
    justify-content: space-around;
    padding-top:5px;
    top:0;
    position:fixed;
    width:100%;
    height:120px;
    padding-bottom:0px;
}
.top_header_cont{
  display: flex;

}
.styling_ecom{
    height:90px;
    width:90px;
    border-radius: 90px;

}
.btn_styling{
 
    border-style:none;
    width:350px;
    color:black;
    font-size:26px;
    background-color: blanchedalmond;
    margin:40px;
    padding:8px;
    height:50px;
}
.heading_headder{
    font-family:"Adobe Arabic";
    font-size:26px;
    color:black;
    margin-left:15px;
    margin-top:30px;
}
.btn_cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:260px;
}